<ion-view hide-nav-bar="true" view-title="Account">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Dashboard</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item>
                Enable Friends: {{ settings.enableFriends }}
                <md-switch class="md-secondary" ng-model="settings.enableFriends"></md-switch>
            </md-list-item>
        </md-list>
    </md-content>
</ion-view>
