<ion-view view-title="Chats">
    <md-content>
        <br>
        <br>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="chat in chats" ng-click="goToChat(chat.id)">
                <img ng-src="{{chat.face}}" class="md-avatar" alt="{{chat.name}}"/>
                <div class="md-list-item-text">
                    <h3>{{ chat.name }}</h3>
                    <h4>{{ chat.lastText }}</h4>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</ion-view>
