<ion-view view-title="Dashboard">
    <br>
    <br>
    <md-content class="md-padding">
        <md-card>
            <div class="item item-divider">Recent Updates</div>
            <md-card-content>
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </md-card-content>
        </md-card>
        <br>
        <md-card>
            <div class="item item-divider">Health</div>
            <md-card-content>
                <div>
                    There is a fire in <b>sector 3</b>
                </div>
            </md-card-content>
        </md-card>
        <br>
        <md-card>
            <div class="item item-divider">Upcoming</div>
            <md-card-content>
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</ion-view>
