<ion-view hide-nav-bar="true" view-title="Chats">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Dashboard</span>
            </h2>
        </div>
    </md-toolbar>
    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="chat in chats" ng-click="goToChat(chat.id)">
                <img ng-src="{{chat.face}}" class="md-avatar" alt="{{chat.name}}"/>
                <div class="md-list-item-text">
                    <h3>{{ chat.name }}</h3>
                    <h4>{{ chat.lastText }}</h4>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</ion-view>
