<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<!--
<md-tabs  md-dynamic-height class="md-accent" md-align-tabs="bottom">
    <md-tab>
        <md-tab-label>
            <span ui-sref="tab.dash">Status</span>
        </md-tab-label>
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <span ui-sref="tab.chats">Chats</span>
        </md-tab-label>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <span ui-sref="tab.account">Account</span>
        </md-tab-label>
    </md-tab>
</md-tabs>
-->
<!--<div ui-view></div>-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
